.navbar {
    // background-color: #8C008C;
    background: linear-gradient(173deg, rgba(140,0,128,1) 0%, rgba(227,37,211,1) 100%);
}

.nav-link {
    color: #e4edf1;
}

.fa-user {
    font-size: 20px;
}

.fa-bars {
    font-size: 30px;
    color: #e4edf1;
}

.fa-bars:hover{
    color: white;
    cursor: pointer;
}