<nav class="navbar navbar-light">
    <button 
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#sidebar"
        aria-controls="sidebar" 
        aria-expanded="true" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo">
        <a routerLink="/" class="navbar-brand">
            Logo DenunciAR
        </a>
    </div>
    <div class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">Nombre Usuario</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Cerrar Sesión</a> 
        </div>
    </div>
</nav>
