<div class="col-md-8 mx-auto mt-5">
  <ol class="text-center">
    <ng-container *ngFor="let step of steps; let i = index;">
      <li [ngClass]="(selectedIndex === i) ? 'actual-step' : ''">
        <a (click)="selectedIndex = i">
          <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
          </ng-container>
          <ng-template #showLabelText>
            {{ step.label }}
          </ng-template>
        </a>
      </li>
    </ng-container>
  </ol>
</div>
<!-- Body -->
<div>
  <ng-container [ngTemplateOutlet]="selected.content">
  </ng-container>
</div>