<div class="col-md-8 mx-auto mt-5">
    <h1 class="text-center title">{{title}}</h1>
    <div *ngIf="showSuccessMessage && mode === 'create'" class="alert alert-success mt-3 text-center" role="alert">
        <b>El usuario ha sido creado correctamente</b>
    </div>
    <div *ngIf="showSuccessMessage && mode === 'edit'" class="alert alert-success mt-3 text-center" role="alert">
        <b>El usuario ha sido modificado correctamente</b>
    </div>
    <div *ngIf="mode === 'edit'" class="form-row mt-5">
        <div class="form-group col-md-4">
            <label>Seleccione el usuario que desea modificar</label>
            <select (change)="selectedUser($event)" class="form-control">
                <option value="0">
                    Seleccione...
                </option>
                <option *ngFor="let user of users" [value]="user.id">
                    {{user.username}}
                </option>
            </select>
            <div class="invalid-feedback">
                Seleccione el tipo de documento
            </div>
        </div>
    </div>
    <div class="dropdown-divider mt-3 mb-3"></div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="first_name">Nombre *</label>
                <input formControlName="first_name" type="text" class="form-control" placeholder="Nombre"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.first_name.errors }">
                <div class="invalid-feedback">
                    Nombre válido requerido
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="username">Usuario *</label>
                <input formControlName="username" type="text" class="form-control" placeholder="Usuario"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.username.errors }">
                <div *ngIf="!userForm.controls.username.errors?.duplicated" class="invalid-feedback">
                    Usuario válido requerido
                </div>
                <div class="invalid-feedback" *ngIf="userForm.controls.username.errors?.duplicated">
                    El usuario debe ser único
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="email">E-mail *</label>
                <input formControlName="email" type="email" class="form-control" placeholder="E-mail"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.email.errors }">
                <div class="invalid-feedback">
                    Email válido requerido
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="last_name">Apellido *</label>
                <input formControlName="last_name" type="text" class="form-control" placeholder="Apellido"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.last_name.errors }">
                <div class="invalid-feedback">
                    Apellido válido requerido
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="identification_type_id">Tipo *</label>
                <select formControlName="identification_type_id" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.identification_type_id.errors }">
                    <option *ngFor="let idType of idTypes" [value]="idType.id">{{idType.name}}
                    </option>
                </select>
                <div class="invalid-feedback">
                    Seleccione el tipo de documento
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="identification_code">N° de documento *</label>
                <input formControlName="identification_code" type="text" class="form-control"
                    placeholder="N° de documento"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.identification_code.errors }">
                <div *ngIf="
                !userForm.controls.identification_code.errors?.pattern &&
                !userForm.controls.identification_code.errors?.maxlength" class="invalid-feedback">
                    Número de documento requerido
                </div>
                <div *ngIf="
                userForm.controls.identification_code.errors?.pattern ||
                userForm.controls.identification_code.errors?.maxlength" class="invalid-feedback">
                    El número de documento debe ser numérico y tener como máximo 10 dígitos
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="birth_date">Fecha de nacimiento *</label>
                <input formControlName="birth_date" type="date" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.birth_date.errors }">
                <div class="invalid-feedback">
                    Fecha de nacimiento válida requerida
                </div>
            </div>
        </div>
        <div class="dropdown-divider mt-3 mb-3"></div>
        <div *ngIf="mode === 'edit'" class="form-group">
            <div class="form-check col-md-12">
                <input type="checkbox" class="form-check-input" (change)="changePasswordCheck($event)">
                <label class="form-check-label">¿Cambiar la contraseña de este usuario?</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="password">Contraseña *</label>
                <input formControlName="password" type="password" class="form-control" placeholder="Contraseña"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.password.errors }">
                <div *ngIf="!userForm.controls.password.errors?.minlength" class="invalid-feedback">
                    Contraseña requerida
                </div>
                <div *ngIf="userForm.controls.password.errors?.minlength" class="invalid-feedback">
                    Debe contener como mínimo 8 caracteres
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="repeatPassword">Repetir contraseña *</label>
                <input type="password" class="form-control" formControlName="repeatPassword"
                    placeholder="Repetir contraseña"
                    [ngClass]="{ 'is-invalid': submitted && userForm.controls.repeatPassword.errors }">
                <div class="invalid-feedback">
                    Las contraseñas deben coincidir
                </div>
            </div>
        </div>
        <div class="dropdown-divider mt-3 mb-3"></div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input formControlName="rol" type="checkbox" class="form-check-input">
                <label class="form-check-label">Usuario administrador</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input formControlName="active" type="checkbox" class="form-check-input">
                <label class="form-check-label">Usuario bloqueado</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-purple float-right"
            [disabled]="mode === 'edit' && !userSelected">Confirmar</button>
    </form>
</div>