<h1 class="text-center title mt-5">{{title}}</h1>
<div class="col-md-8 mx-auto">
    <div class="alert alert-danger text-center" *ngIf="errorMessage">
        <b> {{ errorMessage }}</b>
    </div>
</div>
<form [formGroup]="assistanceForm">
    <app-stepper formArrayName="steps" #cdkStepper>
        <cdk-step formGroupName="0" [stepControl]="formArray.get([0])">
            <!-- Step label -->
            <ng-template cdkStepLabel>
                <i class="fa fa-commenting mr-2"></i>
                <strong>Desarrollo</strong>
            </ng-template>
            <!-- Step content -->
            <div class="pushable-content col-md-8 mx-auto mt-5">
                <div class="form-group">
                    <div class="form-row col-md-6 mx-auto">
                        <div class="form-check form-check-inline col-md-3">
                            <input formControlName="assistance_type" type="checkbox" class="form-check-input">
                            <label class="form-check-label">Asesoramiento</label>
                            <img src="../../../../../assets/ia-brain.png" class="icon ml-1">
                        </div>
                        <div class="form-check form-check-inline col-md-4">
                            <input formControlName="femicide_risk" type="checkbox" class="form-check-input">
                            <label class="form-check-label">Riesgo de vida</label>
                            <img src="../../../../../assets/ia-brain.png" class="icon ml-1">
                        </div>
                        <div class="form-check form-check-inline col-md-4">
                            <input formControlName="first_call" type="checkbox" class="form-check-input">
                            <label class="form-check-label">Primera llamada</label>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider col-md-6 mx-auto mt-3 mb-3"></div>
                <div class="form-row col-md-6 mx-auto">
                    <div class="form-group col-md-6">
                        <label class="d-block mb-0" for="timePicker">Fecha y hora *</label>
                        <mat-form-field class="d-block">
                            <input #dateTimePicker matInput [ngxMatDatetimePicker]="picker" formControlName="date_time"
                                [ngClass]="{ 'is-invalid': submitted && !isValid('0','date_time') }">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                            </mat-datepicker-toggle>

                            <ngx-mat-datetime-picker #picker>
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                        <div class="invalid-feedback" *ngIf="submitted && !isValid('0','date_time')">
                            Fecha válida requerida
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Teléfono entrante *</label>
                        <input type="text" class="form-control" formControlName="phone_number"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('0','phone_number') }">
                        <div class="invalid-feedback">
                            Número de teléfono válido requerido
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider col-md-6 mx-auto mt-3 mb-3"></div>
                <div class="form-row col-md-6 mx-auto">
                    <div class="form-group col-md-12">
                        <label for="">Desarrollo *
                            <small> (Máximo 2000 caracteres)</small>
                        </label>
                        <textarea class="form-control" rows="6" formControlName="summary"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('0','summary') }"></textarea>
                        <div class="invalid-feedback">
                            El campo desarrollo es requerido y tiene un máximo de 2000 caracteres
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary col-md-1 float-left" disabled>Anterior</button>
                <button class="btn btn-primary btn-purple col-md-1 float-right" cdkStepperNext>Siguiente</button>
            </div>
        </cdk-step>
        <cdk-step formGroupName="1" [stepControl]="formArray.get([1])">
            <!-- Step label -->
            <ng-template cdkStepLabel>
                <i class="fa fa-user mr-2"></i>
                <strong>Persona</strong>
            </ng-template>
            <div class="pushable-content col-md-7 mx-auto mt-5">
                <div class="form-row col-md-12">
                    <div class="form-group col-md-3">
                        <label for="first_name">Nombre *</label>
                        <input formControlName="first_name" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','first_name') }">
                        <div class="invalid-feedback">
                            Nombre requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="last_name">Apellido *</label>
                        <input formControlName="last_name" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','last_name') }">
                        <div class="invalid-feedback">
                            Apellido requerido
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="sex">Género</label>
                        <select formControlName="sex" class="form-control" (change)="changeSexSelect($event)">
                            <option *ngFor="let sex of sexTypes" [value]="sex.value">{{sex.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sex_clarification">Género Otros</label>
                        <input disabled #sexClarification formControlName="sex_clarification" type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="dropdown-divider col-md-12 mx-auto mt-3 mb-3"></div>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-2">
                        <label for="identification_type_id">Tipo *</label>
                        <select formControlName="identification_type_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','identification_type_id') }">
                            <option *ngFor="let idType of idTypes" [value]="idType.id">{{idType.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Tipo requerido
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="identification_code">N° de documento *</label>
                        <input formControlName="identification_code" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','identification_code') }">
                        <div class="invalid-feedback">
                            N° de documento válido requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="birth_date">Fecha de nacimiento</label>
                        <input formControlName="birth_date" type="date" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','birth_date') }">
                        <div class="invalid-feedback">
                            Fecha de nacimiento inválida
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="age">Edad</label>
                        <input formControlName="age" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','age') }">
                        <div class="invalid-feedback">
                            Edad inválida
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider col-md-12 mx-auto mt-3 mb-3"></div>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-5">
                        <label for="city_id">Localidad *</label>
                        <select formControlName="city_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','city_id') }">
                            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Localidad requerida
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="address">Domicilio *</label>
                        <input formControlName="address" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','address') }">
                        <div class="invalid-feedback">
                            Domicilio requerido
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="phone_number">Teléfono *</label>
                        <input formControlName="phone_number" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','phone_number') }">
                        <div class="invalid-feedback">
                            Teléfono válido requerido
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider col-md-12 mx-auto mt-3 mb-3"></div>
                <div class="form-group col-md-6">
                    <label for="city_id">Discapacidad</label>
                    <ng-select2 formControlName="disabilities" [data]="disabilities" [options]="select2Options">
                    </ng-select2>
                </div>
                <div class="dropdown-divider col-md-12 mx-auto mt-3 mb-3"></div>
                <div class="form-check col-md-12 mb-4">
                    <input type="checkbox" class="form-check-input" (change)="changeRepresentative($event)"
                        [disabled]="mode === 'view'">
                    <label class="form-check-label">¿Representante?</label>
                </div>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-3">
                        <label for="representative_type_id">Tipo</label>
                        <select disabled #representativeType formControlName="representative_type_id"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','representative_type_id') }">
                            <option *ngFor="let representativeType of representativeTypes"
                                [value]="representativeType.id">{{representativeType.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="representative_first_name">Nombre del representante</label>
                        <input disabled #representativeFirstName formControlName="representative_first_name" type="text"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','representative_first_name') }">
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="representative_last_name">Apellido del representante</label>
                        <input disabled #representativeLastName formControlName="representative_last_name" type="text"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','representative_last_name') }">
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="relationship_type_id">Vínculo</label>
                        <select disabled #relationshipType formControlName="relationship_type_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('1','relationship_type_id') }">
                            <option *ngFor="let relationShipType of relationShipTypes" [value]="relationShipType.id">
                                {{relationShipType.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary col-md-1 float-left" cdkStepperPrevious>Anterior</button>
                <button class="btn btn-primary btn-purple col-md-1 float-right" cdkStepperNext>Siguiente</button>
            </div>
        </cdk-step>
        <cdk-step formGroupName="2" [stepControl]="formArray.get([2])">
            <ng-template cdkStepLabel>
                <i class="fa fa-id-card mr-2"></i>
                <strong>Agresor</strong>
            </ng-template>
            <div class="col-md-8 mx-auto mt-5">
                <div class="form-group">
                    <div class="form-row col-md-8 mx-auto">
                        <div class="form-check form-check-inline col-md-3">
                            <input formControlName="aggressor_weapons_handling" type="checkbox"
                                class="form-check-input">
                            <label class="form-check-label">Manejo de armas</label>
                        </div>
                        <div class="form-check form-check-inline col-md-4">
                            <input formControlName="aggressor_substances_use" type="checkbox" class="form-check-input">
                            <label class="form-check-label">Uso de sustancias</label>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider col-md-8 mx-auto mt-3 mb-3"></div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-6">
                        <label for="aggressor_first_name">Nombre agresor</label>
                        <input formControlName="aggressor_first_name" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('2','aggressor_first_name') }">
                        <div class="invalid-feedback">
                            Máximo 50 caracteres
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="aggressor_last_name">Apellido agresor</label>
                        <input formControlName="aggressor_last_name" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('2','aggressor_last_name') }">
                        <div class="invalid-feedback">
                            Máximo 50 caracteres
                        </div>
                    </div>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-2">
                        <label for="aggressor_identification_type_id">Tipo</label>
                        <select formControlName="aggressor_identification_type_id" class="form-control">
                            <option *ngFor="let idType of idTypes" [value]="idType.id">{{idType.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="aggressor_identification_code">N° de documento del agresor</label>
                        <input formControlName="aggressor_identification_code" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('2','aggressor_identification_code') }">
                        <div class="invalid-feedback">
                            N° de documento inválido
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dirección del agresor</label>
                        <input formControlName="aggressor_address" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-6">
                        <label for="aggressor_occupation">Ocupación del agresor</label>
                        <input formControlName="aggressor_occupation" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="aggressor_city_id">Localidad del agresor</label>
                        <select formControlName="aggressor_city_id" class="form-control">
                            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-secondary col-md-1 float-left" cdkStepperPrevious>Anterior</button>
                <button class="btn btn-primary btn-purple col-md-1 float-right" cdkStepperNext>Siguiente</button>
            </div>
        </cdk-step>
        <cdk-step formGroupName="3" [stepControl]="formArray.get([3])">
            <ng-template cdkStepLabel>
                <i class="fa fa-file-text mr-2"></i>
                <strong>Denuncia</strong>
            </ng-template>
            <div class="col-md-8 mx-auto mt-5">
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-6">
                        <label for="issue_address">Domicilio del hecho</label>
                        <input formControlName="issue_address" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="vulnerable_population_id">Población vulnerable *</label>
                        <select formControlName="vulnerable_population_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('3','vulnerable_population_id') }">
                            <option *ngFor="let vulnerablePopulation of vulnerablePopulations"
                                [value]="vulnerablePopulation.id">{{vulnerablePopulation.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-6">
                        <label for="violence_types">Tipo de violencia *</label>
                        <img src="../../../../../assets/ia-brain.png" class="icon ml-1">
                        <ng-select2 [ngClass]="{ 'is-invalid': submitted && !isValid('3','violence_types') }"
                            formControlName="violence_types" [data]="violenceTypes" [options]="select2Options">
                        </ng-select2>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="complaint_reason_id">Motivo de la denuncia *</label>
                        <img src="../../../../../assets/ia-brain.png" class="icon ml-1">
                        <select formControlName="complaint_reason_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('3','complaint_reason_id') }">
                            <option *ngFor="let complaintReason of complaintReasons" [value]="complaintReason.id">
                                {{complaintReason.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-6">
                        <label for="origin_type_id">Origen *</label>
                        <img src="../../../../../assets/ia-brain.png" class="icon ml-1">
                        <select formControlName="origin_type_id" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('3','origin_type_id') }">
                            <option *ngFor="let originType of originTypes" [value]="originType.id">
                                {{originType.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Clasificación</label>
                        <div style="display: inline-flex">
                            <div class="form-group col-md-6">
                                <button class="btn btn-secondary" (click)="recommend()">Recomendar</button>
                            </div>
                            <div class="form-group col-md-6">
                                <button class="btn btn-secondary" (click)="cancelRecommendation()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <label><b id="model-message"></b></label>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-6">
                        <label for="violence_types"><b>Código *</b></label>
                        <select formControlName="code" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('3','code') }">
                            <option *ngFor="let code of codes" [value]="code.value">
                                {{code.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="derivation_types"><b>Derivación *</b></label>
                        <ng-select2 #derivationSelect formControlName="derivation_types" [data]="derivationTypes"
                            [options]="select2Options"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('3','derivation_types') }">
                        </ng-select2>
                        <div class="invalid-feedback">
                            Requerido
                        </div>
                    </div>
                </div>
                <div class="form-row col-md-8 mx-auto">
                    <div class="form-group col-md-12">
                        <label for="derivation_observation">
                            Derivación observaciones
                            <small> (Máximo 100 caracteres)</small>
                        </label>
                        <textarea class="form-control" rows="4" formControlName="derivation_observation"
                            [ngClass]="{ 'is-invalid': submitted && !isValid('3','derivation_observation') }"></textarea>
                        <div class="invalid-feedback">
                            El campo admite como máximo 100 caracteres
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary col-md-1 float-left" cdkStepperPrevious>Anterior</button>
                <button class="btn btn-primary btn-purple col-md-1 float-right" (click)="submitAssistance()"
                    *ngIf="mode !== 'view'">Guardar</button>
            </div>
        </cdk-step>
    </app-stepper>
</form>
<ng-template #fillFormConfirmationModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title title">
                <i class="fa fa-exclamation-triangle"></i>
                Datos de formulario sin guardar</h3>
        </div>
        <div class="modal-body">
            <span class="font-weight-bold">Se encontraron datos que no fueron guardados anteriormente. ¿Desea
                continuar este formulario utilizando esos datos?</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-modal" (click)="modal.dismiss()">No</button>
            <button type="button" class="btn btn-primary btn-purple btn-modal"
                (click)="fillFormWithUnsavedData()">Sí</button>
        </div>
    </div>
</ng-template>