.dropdown-divider {    
    border-color: #b8c4cc;
}

.btn-purple {
    background-color: #210949 !important;
}

.title {
    color: #4A4F52;
}

.btn-modal {
    width: 20%;
}

.icon {
    width: 20px;
}

.pushable {
    min-width: 80%;
}