.title {
    color: #4A4F52;
}

.btn-purple {
    background-color:#210949 !important;
}

.dropdown-divider {    
    border-color: #b8c4cc;
}

.page-link:hover {
    cursor: pointer;
}

.spinner-purple {
    color: #210949;
    left: 50%;
    position: relative;
    display: block;
}